<body class="landing-page">

  <div class="wyup-root">
    <h1>What's your ulam,</h1>
    <h1>pare?</h1>
    <br><br><br>
    <p> Whip up endless culinary creations with just a click.</p>
    <p> Let our recipe generator be your guide!</p>
  </div>

</body>
