#dashboard_container {
    h1 {
        text-align: center;
        padding: 10px;
        font-size: 1.5em;
    }

    form {
        margin-top: 50px;
        margin-left: auto;
        margin-right: auto;
        width: fit-content;

        #query {
            margin-left: 30%;
            width: 280px;
            margin-bottom: 10px;
        }

        #filters_span {
            text-align: center;
        }

        #exclude {
            margin-top: 10px;
            margin-left: 10px;
            margin-bottom: 10px;
            width: 200px;
        }
    }
}