.nav-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px 10px ;
    background-color: rgba(238, 238, 238, 0.01);
    border-bottom: 3px solid rgb(35, 34, 33);
    .img-div {
        display: flex;
        align-items: center;
        img {
            width: 50px;
            cursor: pointer;
        }
        #wyup-span {
            font-family: 'Climate Crisis', cursive;
            display: block;
            font-size: .8em;
        }
    }

    .current_user_nav {
        border: 1px solid black;
        border-radius: 5px;
        background-color: rgba(250, 235, 215, .6);
        display: flex;
        align-items: center;

        span {
            font-size: .6em;
            padding: 2px 4px;
        }
    }

    #page-links {
        margin-right: auto;
        margin-left: auto;
        font-size: .85em;

        a {
            border-bottom: 2px solid white;
            &:hover {
                transition: 300ms;
                border-bottom: 2px solid black;
            }
        }
    }

    .nav-btns {
        display: flex;
        gap: 20px;

        .nav_current_buttons {
            width: 120px;
            display: flex;

            button {
                padding: 2px;
                border: none;
                background-color: white;
                border-bottom: 1.7px solid white;
    
                a {
                    font-size: 1em;
                    font-style: none;
                    text-decoration: none;
                    color: black;
                }
    
                &:hover {
                    transition: 300ms;
                    border-bottom: 1.7px solid black;
                }
            }
        }

    }
}
