#dashboard_search_container {
    h1 {
        text-align: center;
        padding: 10px;
        font-size: 1.5em;
    }

    form {
        margin-left: auto;
        margin-right: auto;
        width: fit-content;

        #query {
            margin-left: 30%;
            width: 280px;
        }


        #exclude {
            margin-top: 10px;
            margin-left: 10px;
            margin-bottom: 10px;
            width: 200px;
        }
    }
}


.recipe_response {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    .recipe_block {
        background-color: rgb(230, 230, 211);
        padding: 1.5em;

        .recipe_link_block {
            padding: 10px 4px;
            &:hover {
                // background-color: rgba(230, 230, 211, 0.9);
                background-color: rgba(163, 163, 145, 0.05);

            }
        }

        .ingredients_h5 {
            display: inline-block;
        }
        #filled_heart{
            display: none;

        }

        button {
            display: block;
            border: none;
            background-color:  rgb(230, 230, 211);
            margin-left: auto;
            width: fit-content;
            img {
                width: 20px;
            }
        }
    }

    a {
        text-align: center;
        color: black;
    }
}

.pagination {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 50vw;
    padding: 5px;
    margin-top: 8px;
    justify-content: center;
    align-items: center;

    span {
        padding: 2px 8px;
        text-decoration: none;
        border-radius: 5px;

        &:hover:not(.current) {
            background-color: #ddd;
        }
    }


    .current {
        background-color: #62C68D;
        color: white;
    }

  }
